* {
  box-sizing: border-box;
}
body {
  padding: 7px;
  background-color: whitesmoke;
}
form {
  padding: 7px;
}
input {
  border: none;
  padding: 8px;
  border-radius: 5px;
}
button {
  border: none;
  border-radius: 10px;
  background-color: rgba(40, 40, 233, 0.603);
  padding: 7px;
  color: aliceblue;
  width: 98%;
}
.name {
  width: 47%;
}
.email {
  width: 94%;
}
.number {
  width: 94%;
}
.hidden {
  display: none;
}
